{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro{% endblock title %}

{% block body %}
<div class="registro-container">
  <h2 class="form-title">Criar cadastro</h2>

  <form method="post" action="{% url 'usuarios:cadastro_usuario' %}">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-group field-{{ field.name }}">
        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
        {{ field }}
        {% for error in field.errors %}
          <span class="erro">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}

    {% if form.non_field_errors %}
      <div class="erros-bloco">{{ form.non_field_errors }}</div>
    {% endif %}

    <hr>
    <div style="text-align: right;">
      <button type="submit" class="btn-primario">Cadastrar</button>
      <a href="{% url 'usuarios:login_usuario' %}" class="btn-voltar">Ja tenho conta</a>
    </div>
  </form>

  <script src="{% static 'js/usuarios.js' %}"></script>
</div>
{% endblock body %}
